#=====================================================
# Neopixel
#=====================================================
[neopixel sb_leds]
pin: PE6
chain_count: 31
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#


#=====================================================
# Caselight
#=====================================================
[output_pin caselight]
pin: PB3
#pin: PB4
#max_power: 1.0
#kick_start_time: 0.5
pwm: true
shutdown_value: 0
value: 0
cycle_time: 0.01
hardware_pwm: true
scale:100